/** @format */

.crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background {
  background: url("../assets/crew/background-crew-mobile.jpg") center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.header p {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.header span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
  opacity: 0.25;
  margin: 0 18px;
}

/** @format */

.divider {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: #383b4b;
  margin: 32px 0;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.imgContainer img {
  width: 153.92px;
  height: 222px;
  flex-shrink: 0;
}

.imgContainer .divider {
  margin: 0;
}

.navLinks {
  display: flex;
}

.navLinks a {
  border-radius: 100%;
  color: #383b4b;
  background-color: #383b4b;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.navLinks .active {
  color: white;
  background-color: white;
}

.imgContainer .douglasIMG {
  width: 177.123px;
  height: 222px;
  flex-shrink: 0;
}

.about {
  margin: 16px 0;
}

.about .position p {
  color: #ffffff7b;
  text-align: center;
  font-family: Bellefair;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about .name p {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 16px 0;
}

.description p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
