/** @format */
body {
  overflow: hidden;
}
.crewDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divider {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: #383b4b;
  margin: 32px 0;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.imgContainer img {
  width: 153.92px;
  height: 222px;
  flex-shrink: 0;
}

.imgContainer .divider {
  margin: 0;
}

.navLinks {
  display: flex;
}

.navLinks a {
  border-radius: 100%;
  color: #383b4b;
  background-color: #383b4b;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.navLinks .active {
  color: white;
  background-color: white;
}

.imgContainer .douglasIMG {
  width: 177.123px;
  height: 222px;
  flex-shrink: 0;
}

.imgContainer .markIMG {
  width: 153.92px;
  height: 222px;
  flex-shrink: 0;
}

.imgContainer .victorIMG {
  width: 180.726px;
  height: 222px;
  flex-shrink: 0;
}

.imgContainer .anoushehIMG {
  width: 226.147px;
  height: 223px;
  flex-shrink: 0;
}
.about {
  margin: 16px 0;
}

.about .position p {
  color: #ffffff5a;
  text-align: center;
  font-family: Bellefair;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about .name p {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 16px 0;
}

.description p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

@media (min-width: 768px) {
  .crewDetail {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top: 30px;
  }

  .about {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .about .position p {
    color: #ffffff5a;
    text-align: center;
    font-family: Bellefair;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about .name {
    margin: 8px 16px 0;
  }

  .about .name p {
    color: #fff;
    text-align: center;
    font-family: Bellefair;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about .description {
    max-width: 90%;
    padding: 0;
  }

  .about .description p {
    color: #d0d6f9;
    text-align: center;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
  .navLinks {
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    margin: 23px;
  }

  .imgContainer {
    margin: 16px 0 0 0;
    overflow: hidden;
  }

  .imgContainer .douglasIMG {
    width: 456.372px;
    height: 565px;
    flex-shrink: 0;
  }

  .imgContainer .markIMG {
    width: 368.853px;
    height: 560px;
    flex-shrink: 0;
  }

  .imgContainer .victorIMG {
    width: 433.09px;
    height: 560px;
    flex-shrink: 0;
  }

  .imgContainer .anoushehIMG {
    width: 539.508px;
    height: 560px;
    flex-shrink: 0;
  }

  .divider {
    display: none;
  }
}

@media (min-width: 1024px) {
  .crewDetail {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    margin: 0;
  }
  .about {
    align-items: start;
    text-align: left;
    margin-left: 50px;
    width: 100%;
  }

  .position {
    align-self: self-start;
  }

  .about .position p {
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 444px;
    text-align: left;
  }

  .about .name {
    margin: 0;
  }

  .about .name p {
    color: #fff;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about .description p {
    color: #d0d6f9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
  }
  .description {
    padding: 0;
  }

  .about .description p {
    text-align: left;
  }

  .imgContainer {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }
  .imgContainer .douglasIMG img {
    width: 568.072px;
    height: 712px;
    flex-shrink: 0;
  }

  .imgContainer .markIMG img {
    width: 453.44px;
    height: 654px;
    flex-shrink: 0;
  }

  .imgContainer .victorIMG img {
    width: 554.388px;
    height: 681px;
    flex-shrink: 0;
  }

  .imgContainer .anoushehIMG img {
    width: 554.388px;
    height: 681px;
    flex-shrink: 0;
  }
  .navLinks {
   
    justify-self: self-start;
    padding-left: 50px;
    margin: 0;
  }
}
