/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar li {
  list-style: none;
  text-decoration: none;
  margin: 32px 32px;
}
ul li span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
  padding-right: 11px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

ul li :hover {
  box-shadow: 0 0 5px #d0d6f9, 0 0 5px #d0d6f9, 0 0 5px #d0d6f9, 0 0 5px #d0d6f9, 0 0 5px #d0d6f9;
  transition: ease-in-out 300ms;
  border-radius: 10%;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
}

.toggled {
  overflow: hidden;
}

.pcNavContainer {
  display: none;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.closeSVG {
  align-self: self-end;
}

.sidebar {
  height: 100vh;
  width: 60%;
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}

.sidebarBackground {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  transition: ease-in-out 300ms;
}

.sidebarItems {
  position: relative;

  z-index: 1;
}

.sidebarItemsContainer {
  margin-top: 10px;
}

.closeSVG {
  padding: 35px 24px 0 0;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .pcNavContainer {
    display: flex;
  }
  .pcNav {
    display: flex;
    z-index: 1;
  }
  .pcNav li {
    list-style: none;
    margin: 0 18px;
  }
  .pcNav .active {
    border-bottom: 2px white solid;
    padding-bottom: 27px;
    padding-top: 15px;
  }

  .pcNavBackground {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    height: 9%;
    width: 60%;
    position: absolute;
    top: 1%;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .pcNavBackground {
    height: 13%;
    top: 2%;
  }
  .pcNav {
    padding-right: px;
  }
  .pcNav li {
    margin: 0 25px;
  }
  .nav {
    padding: 20px 55px;
  }
}
