/** @format */

body {
  overflow: hidden;
}
.techDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.imgContainer img {
  width: 375px;
  height: 170px;
  flex-shrink: 0;
}

.navLinks {
  display: flex;
  justify-content: center;
  
}

.navLinks a {
  border-radius: 100%;
  color: white;
  background-color: transparent;
  text-align: center;
  width: 40px;
  border: 1px white solid;
  height: 40px;
  margin: 0 5px;
  text-decoration: none;
  place-items: center;
  display: flex;
  justify-content: center;
}

.navLinks .active {
  color: white;
  background-color: white;
}
